$body-bg-color: linear-gradient(
		to bottom left,
		rgb(147, 147, 147) 0%,
		rgb(133, 133, 133) 50%,
		rgb(97, 97, 97) 100%
	)
	no-repeat fixed;

$light-text: rgb(255, 255, 255);
$dark-text: rgb(0, 0, 0);
